{% extends "app/layout.html.twig" %}

{% block content %}
<main id="configuration">
<!-- Page d'aide -->
    <div id="helpPage" class="">
        <h2> Un peu d'aide ?</h2>
        <h3>Progression</h3>
        <ul>
            <li>Vous pouvez revenir en arrière à tout moment</li>
        </ul>
        <h3>Ajout de personnes</h3>
        <ul>
            <li>Vous pouvez ajouter des personnes à tout moment</li>
            <li>Vous n'êtes pas sur qu'une personne vous donne le droit d'image ? Mettez non et changer dès que vous savez</li> 
        </ul>
    </div>
        <div id="liste">
            <ul>
                {% for etudiant in etudiants %}
                    <li> {{etudiant.nom}} {{etudiant.pnom}} <a href="{{url('app/configuration/deleteEtu/') ~ etudiant.id}}"><i class="las la-times"></i></a> <a href="{{url('app/configuration/editEtu/') ~ etudiant.id}}"><i class="las la-pen"></i></a></li>
                {% endfor %}

                {% for equipe in equipes %}
                    <li> {{equipe.nom}} {{equipe.pnom}} <a href="{{url('app/configuration/deleteEqui/') ~ equipe.id}}"><i class="las la-times"></i></a> <a href="{{url('app/configuration/editEqui/') ~ equipe.id}}"><i class="las la-pen"></i></a></li>
                {% endfor %}

            </ul>
        </div>
        <div id="ajout">
            <form action="{{url('app/configuration/add')}}" method="post">
                <!--<div>
                    <label><i class="las la-calendar-week"></i></label>
                    <input type="text" placeholder="Promotion" id="Promotion">
                </div>-->
                <div>
                    <label><i class="las la-tags"></i></label>
                    <input type="text" placeholder="Nom" name="nom" id="Nom">
                    <input type="text" placeholder="Prénom" name="pnom" id="Prenom">
                </div>
                <div id="radios">
                    <div class="radio">
                        <span><i class="las la-sign"></i><b>Statut</b></span>
                        <div>

                            <input type="radio" name="statut" id="statut" value="etudiant" checked="check">
                            <label>Elève</label>
                        </div>
                        <div>

                            <input type="radio" name="statut" id="statut" value="equipe">
                            <label>Equipe du </br> departement</label>
                        </div>
                        
                    </div>
                    <div class="radio">
                        <span><i class="las la-image"></i><b>Droit a l'image</b></span>
                        <div>
                            <input type="radio" name="droitImage" id="droitImage" value="1" checked="check">
                            <label>Oui</label>
                        </div>
                        <div>
                            <input type="radio" name="droitImage" id="droitImage" value="0">
                            <label>Non</label>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn">Ajouter</button>
                </div>
            </form>
        </div>
        <div class="prevNext" id="prevNext">
            <a href="{{ url('app/delog')}}"><i class="las la-angle-left"></i>Déconnexion</a>
            <a href="{{ url('app/choix')}}">2<i class="las la-angle-right"></i></a>
        </div>
    </main>


{% endblock %}