{% extends "app/export/layout.html.twig" %}

{% block head %}
<head>
	<title>Yearbook - MMI</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.typekit.net/gnx1whw.css">
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lemonada|Montserrat|Open+Sans&display=swap" rel="stylesheet">
	<link href="{{assetA('css/styleApp.css')}}" rel="stylesheet" type='text/css'>
    <link href="{{assetA('css/layout.css')}}" rel="stylesheet" type='text/css'>
    <link href="{{ assetA( 'css/police.php')  }}" rel="stylesheet" type="text/css">
    {%for police in polices %}
        <link href="{{police.html}}" rel="stylesheet">
    {%endfor%}
</head> 
{% endblock %}
{% block content %}
<main id="export">
<!-- Page d'aide -->
    <div id="helpPage" class="">
        <h2> Un peu d'aide ?</h2>
        <h3>Progression</h3>
        <ul>
            <li>Vous pouvez revenir en arrière à tout moment</li>
        </ul>
        <h3>Export PDF</h3>
        <ul>
            <li>Exporter en PDF verrouille le yearbook, vous ne pourrez plus le modifier après</li>
            <li>Après avoir cliqué sur le bouton "Exporter", le yearbook sera téléchargé en PDF </li>
            <li>Vous serez déconnecté et vous ne pourrez plus vous connecter. </li>
        </ul>
    </div>
    
    <div id="livre">
    {% for page in pages %}
    {% if loop.index % 2 != 0 %}
        <div id="pages{{loop.index}}{{loop.index + 1}}" class="pages {% if loop.index > 1 %}hide{% endif %}">
    {% endif %}
        <div class="page" id="page{{loop.index}}">
            {% include 'app/export/miseEnPage.html.twig' %}
        </div>
    {% if loop.index % 2 == 0 %}
        </div>
    {% endif %}
    {% endfor %}
        <div id="nav">
        {% for page in pages %}
            {% if loop.index % 2 != 0 %}
            <span class="numPage {% if loop.index == 1 %}activ{% endif %}" data-page="{{loop.index }}{{loop.index + 1}}">{{loop.index}} - {{loop.index + 1}}</span>
            {% endif %}
        {% endfor %}
        </div>
    </div> 
    <div class="exportSection">
        
        <span class="btn" hdsdfref="{{url('app/export/export')}}" id="cmd">Exporter</span>

    </div> 
    <div hidden>
    {%for police in polices%}
        <li class="font"><p class="file">{{police.file}}</p><p class="fontname">{{police.fontname_min}}</p><p class="content">{{police.content}}</p></li>
    {%endfor%}
    </div>
</main>
{% endblock %}
{% block js %}
<script src="{{assetA('js/pages.js')}}"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.0/jspdf.debug.js"></script>
  <script src="https://rawgit.com/sphilee/jsPDF-CustomFonts-support/master/dist/jspdf.customfonts.debug.js"></script>
  <script src="{{assetA('js/default_vfs.js')}}"></script>

  
  <script src="{{assetA('js/export.js')}}"></script>
{% endblock %}