{% extends "app/creation/layout.html.twig" %}

{% block head %}
<head>
	<title>Yearbook - MMI</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.typekit.net/gnx1whw.css">
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lemonada|Montserrat&display=swap" rel="stylesheet">
	<link href="{{assetA('css/styleApp.css')}}" rel="stylesheet" type='text/css'>
    <link href="{{assetA('css/layout.css')}}" rel="stylesheet" type='text/css'>
    <link href="{{ assetA( 'css/police.php')  }}" rel="stylesheet" type="text/css">
    {%for police in polices %}
        <link href="{{police.html}}" rel="stylesheet">
    {%endfor%}
</head> 
{% endblock %}
{% block content %}
    <div id="drag_zone">

    </div>
<main id="creation">
    <!-- Page d'aide -->
    <div id="helpPage" class="">
        <h2> Un peu d'aide ?</h2>
        <h3>Progression</h3>
        <ul>
            <li>Vous pouvez revenir en arrière à tout moment</li>
        </ul>
        <h3>Enregistrement</h3>
        <ul>
            <li>Choisissez des images de bonne qualité qui ne pèsent pas trop lourd</li>
            <li>L'enregistrement de votre travail en cours est automatique et se fait au fur et à mesure que vous ajoutez vos contenus sur les pages</li>
            <li>Pour changer un layout, ajoutez votre layout puis ajoutez du contenu (texte ou image)</li>
        </ul>
        <h3>Export PDF</h3>
        <ul>
            <li>Exporter en PDF verrouille le yearbook, vous ne pourrez plus le modifier après</li>
        </ul>
    </div>

    <div id="menu">
            <span class="activ outil" data-contenus="images"><i class="las la-image"></i></span>
            <span class="outil" data-contenus="fonds"><i class="las la-palette"></i></span>
            <span class="outil" data-contenus="layout"><i class="las la-puzzle-piece"></i></span>
            <a href="{{ url('app/creation/save') }}" class="hidden url_text"></a>
            <a href="{{ url('app/creation/save/img') }}" class="hidden url_img"></a>
            <a href="{{ url('app/creation/save/background') }}" class="hidden url_background"></a>
            <a href="{{ url('app/creation/save/removeImg') }}" class="hidden url_removeImg"></a>

        </div>
        <div id="contenus">
            <div id="images" class="contenu">
                <!-- Trigger/Open The Modal -->
                <button id="popup"><i class="las la-plus-circle"></i></button>
                {% for image in images %}
                    <img data-content="image" class="dragable {% if image.used %}last{% endif %}" draggable="false" src="{{assetA('img/photo/mini/') ~ image.image_mini }}" alt="Photos" ondragstart="return false;">
                {% endfor %}

                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Ajout d'une image</h2>
                        </div>
                        <div class="modal-body">
                            <form action="{{url('app/creation/add/image')}}" method="post" enctype="multipart/form-data" runat="server">
                                <label id="picture_click" for="picture">
                                    <div id="beforeSelect">
                                        <span aria-hidden="true"><i class="las la-plus-circle"></i></span>
                                    </div>

                                    <img id="afterSelect" src="" alt="your image" />
                                    <input type="file" id="picture" style="display:none" name="illustration" accept="image/png, image/jpeg">
                                <button id="btnAddFond" title="Ajouter le fond" style="display:none" type="submit"><i class="las la-check"></i></button>
                            </label>
                                {% for etudiant in etudiants %}
                                <input type="checkbox" id="etudiant{{loop.index}}" name="etud{{etudiant.id}}" value="{{etudiant.id}}!etud">
                                <label for="etudiant{{loop.index}}">{{etudiant.nom}} {{etudiant.pnom}}</label>
                                {% endfor %}
                                {% for equipe in equipes %}
                                <input type="checkbox" id="equipe{{loop.index}}" name="equi{{equipe.id}}" value="{{equipe.id}}!equi">
                                <label for="equipe{{loop.index}}">{{equipe.nom}} {{equipe.pnom}}</label>
                                {% endfor %}
            
                            </form>
                        </div>
                    </div>
                </div>

                
            
            
            </div>
            
            <div id="fonds" class="contenu hide">
                {% for fond in fonds %}
                <img data-content="fond" class="dragable" draggable="false" ondragstart="return false;" src="{{assetA('img/fond/mini/') ~ fond.illustration_mini}}">
                {% endfor %}
            </div>
            
            <div id="layout" class="contenu hide">
                <div><img data-content="layoutico" class="dragable" data-layout="1" draggable="false" ondragstart="return false;" src="{{assetA('img/layout/layout1.png')}}"></div>
                <div><img data-content="layoutico" class="dragable" data-layout="2" draggable="false" ondragstart="return false;" src="{{assetA('img/layout/layout2.png')}}"></div>
                <div><img data-content="layoutico" class="dragable" data-layout="3" draggable="false" ondragstart="return false;" src="{{assetA('img/layout/layout3.png')}}"></div>
                <div><img data-content="layoutico" class="dragable" data-layout="4" draggable="false" ondragstart="return false;" src="{{assetA('img/layout/layout4.png')}}"></div>
            </div>
        </div>

        <div id="livre">
            <div id="info">
                <span>Année {{yearbook.anneePromotion}}</span>
                <span>60 pages</span>
            </div>
            <div id="text-menu" class="hidden">
                    <label for="pet-select">Choisir une police</label>
                    <select name="polices" id="font-select">
                        <option value="open" class="opensans" selected>Police par default</option>
                        {% for police in polices %}
                            {% if police.fontname_min != "opensans" %}
                            
                            <option value="{{police.fontname_min}}" class="{{police.fontname_min}}">{{police.fontname}}</option>
                            {%endif%}
                        {% endfor %}
                    </select>
            </div>
            
            {% for page in pages %}
                {% if loop.index % 2 != 0 %}
                <div id="pages{{loop.index}}{{loop.index + 1}}" class="pages {% if loop.index > 1 %}hide{% endif %}">
                {% endif %}
                    <div class="page" id="page{{loop.index}}">
                        {% include 'app/creation/miseEnPage.html.twig' %}
                    </div>
                {% if loop.index % 2 == 0 %}
                </div>
                {% endif %}
            {% endfor %}
            <div id="nav">
            {% for page in pages %}
                {% if loop.index % 2 != 0 %}
                <span class="numPage {% if loop.index == 1 %}activ{% endif %} {% if page.touched %} touched {% endif %}"  data-page="{{loop.index }}{{loop.index + 1}}">{{loop.index}} - {{loop.index + 1}}</span>
                {% endif %}
            {% endfor %}
            
                <span class="numPage" data-page="plus">Plus</span>
            </div>
        </div>   
        <input hidden id="polices" value="{{serialize_polices}}"> 
</main>


{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{{assetA('js/showPictureUpload.js')}}"></script>
<script src="{{assetA('js/outil.js')}}"></script>
<script src="{{assetA('js/d&d.js')}}"></script>
<script src="{{assetA('js/save.js')}}"></script>
<script src="{{assetA('js/d&dUse.js')}}"></script>
<script src="{{assetA('js/pages.js')}}"></script>
<script src="{{assetA('js/polices.js')}}"></script>
<script src="{{assetA('js/popup.js')}}"></script>
{% endblock %}