<div id='layout1' class="layout {% if page.layout != 'layout1' %}hide{% endif %}">
    <div>
        <div id="h" class='zoneImage' data-image="image1">
        {% for content in contents %}
            {% if page.id == content.pages_id and content.cellule == "image1" and content.layout == 'layout1' %}
                <img src="{{assetA('img/photo/mini/') ~ content.image}}" class="imageOnPage" draggable="true">
            {% endif %}
        {% endfor %}
        </div>
        <div id="v" class='zoneImage' data-image="image2">
        {% for content in contents %}
            {% if page.id == content.pages_id and content.cellule == "image2" and content.layout == 'layout1' %}
                <img src="{{assetA('img/photo/mini/') ~ content.image}}" class="imageOnPage" draggable="true">
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div>
        <div id="v" class='zoneImage' data-image="image3">
        {% for content in contents %}
            {% if page.id == content.pages_id and content.cellule == "image3" and content.layout == 'layout1' %}
                <img src="{{assetA('img/photo/mini/') ~ content.image}}" class="imageOnPage" draggable="true">
            {% endif %}
        {% endfor %}
        </div>
        <div id="h" class='zoneImage' data-image="image4">
        {% for content in contents %}
            {% if page.id == content.pages_id and content.cellule == "image4" and content.layout == 'layout1' %}
                <img src="{{assetA('img/photo/mini/') ~ content.image}}" class="imageOnPage" draggable="true">
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

<div id='layout2' class="layout {% if page.layout != 'layout2' %}hide{% endif %}">
    <input type="text" data-style="title" {% for content in contents %}{% if page.id == content.pages_id and content.cellule == "title" and content.layout == 'layout2' %}value="{{content.text}}" class="text title{{content.font}}" {% else %} class="text title open" {% endif %}{% endfor %}>
    <div class='zoneImage' data-image="image1">
        {% for content in contents %}
            {% if page.id == content.pages_id and content.cellule == "image1" and content.layout == 'layout2' %}
                <img src="{{assetA('img/photo/mini/') ~ content.image}}" class="imageOnPage" draggable="true">
            {% endif %}
        {% endfor %}
        </div>
    <textarea data-style="bottom-text" name="bottom-text" {% for content in contents %}{% if page.id == content.pages_id and content.cellule == "bottom-text" and content.layout == 'layout2' %}class="text bottom-text{{content.font}}" {% else %} class="text bottom-text open"{% endif %}{% endfor %}>{% for content in contents %}{% if page.id == content.pages_id and content.cellule == "bottom-text" and content.layout == 'layout2' %}{{content.text}} {% endif %}{% endfor %}</textarea>
    </textarea>
</div>

<div id='layout3' class="layout {% if page.layout != 'layout3' %}hide{% endif %}">
    <input type="text" data-style="left-text" name="left-text" {% for content in contents %}{% if page.id == content.pages_id and content.cellule == "left-text" and content.layout == 'layout3' %} class="text left-text {{content.font}} " value="{{content.text}}" {% else %} class="text left-text open" {% endif %}{% endfor %}  >
    <div>
        <input type="title" data-style="title" {% for content in contents %}{% if page.id == content.pages_id and content.cellule == "title" and content.layout == 'layout3' %} class="text title {{content.font}} " value="{{content.text}}" {% else %} class="text title open" {% endif %}{% endfor %}>
        <div class='zoneImage' data-image="image1">
        {% for content in contents %}
            {% if page.id == content.pages_id and content.cellule == "image1" and content.layout == 'layout3' %}
                <img src="{{assetA('img/photo/mini/') ~ content.image}}" class="imageOnPage" draggable="true">
            {% endif %}
        {% endfor %}
        </div>
        <textarea data-style="bottom-text" name="bottom-text" {% for content in contents %}{% if page.id == content.pages_id and content.cellule == "bottom-text" and content.layout == 'layout3' %}class="text bottom-text {{content.font}}"{% else %} class="text bottom-text open"{% endif %}{% endfor %}>{% for content in contents %}{% if page.id == content.pages_id and content.cellule == "bottom-text" and content.layout == 'layout3' %}{{content.text}} {% endif %}{% endfor %}</textarea>
    </div>
<input type="text"  data-style="right-text" {% for content in contents %}{% if page.id == content.pages_id and content.cellule == "right-text" and content.layout == 'layout3' %}class="text right-text {{content.font}}" value="{{content.text}}" {% else %} class="text right-text open"{% endif %}{% endfor %}>
</div>

<div id='layout4' class="layout {% if page.layout != 'layout4' %}hide{% endif %}">
    <div class='zoneImage' data-image="image1">
    {% for content in contents %}
            {% if page.id == content.pages_id and content.cellule == "image1" and content.layout == 'layout4' %}
                <img src="{{assetA('img/photo/mini/') ~ content.image}}" class="imageOnPage" draggable="true">
            {% endif %}
        {% endfor %}
    </div>
    <div class='zoneImage' data-image="image2">
    {% for content in contents %}
            {% if page.id == content.pages_id and content.cellule == "image2" and content.layout == 'layout4' %}
                <img src="{{assetA('img/photo/mini/') ~ content.image}}" class="imageOnPage" draggable="true">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% if page.fond %}
<img src="{{assetA('img/fond/mini/') ~ page.fond }}" class="fondPage" draggable="true">
{% endif %}
