{% extends "app/layout.html.twig" %}

{% block content %}
<main id="choix">
        <!-- Page d'aide -->
        <div id="helpPage" class="">
            <h2> Un peu d'aide ?</h2>
            <h3>Progression</h3>
            <ul>
                <li>Vous pouvez revenir en arrière à tout moment</li>
            </ul>
            <h3>Enregistrement</h3>
            <ul>
                <li>Choisissez des images de bonne qualité qui ne pèsent pas trop lourd</li>
                <li>L'enregistrement de votre travail en cours est automatique et se fait au fur et à mesure que vous ajoutez vos contenus sur les pages</li>
                <li>Pour changer un layout, ajoutez votre layout puis ajoutez du contenu (texte ou image)</li>
            </ul>
            <h3>Export PDF</h3>
            <ul>
                <li>Exporter en PDF verrouille le yearbook, vous ne pourrez plus le modifier après</li>
            </ul>
        </div>
        <div id="fond">
            <h2>Choix des fonds</h2>
            <div id="fonds">
                <div class="fond">
                    <form method="POST" action="{{url('app/choix/fond/add')}}" enctype="multipart/form-data">
                        <label id="picture_click" for="picture">
                            <div id="beforeSelect">
                                <span aria-hidden="true"><i class="las la-plus-circle"></i></span>
                            </div>

                            <img id="afterSelect" src="" alt="your image" />
                            <input type="file" id="picture" style="display:none" name="illustration" accept="image/png, image/jpeg">
                            <button id="btnAddFond" title="Ajouter le fond" style="display:none" type="submit"><i class="las la-check"></i></button>
                        </label>
                    </form>
                </div>
                {% for fond in fonds %}
                    <div class="fond">
                        <img  src="{{ assetA('img/fond/mini/') ~ fond.illustration_mini }}">
                        <a href="{{url('app/choix/fond/delete/') ~ fond.id }}"> <i class="las la-times"></i> </a>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div id="googleFont">
            <div>
                <h2>Choix des polices</h2>
                <p> 1 - Allez sur le site de Google Fonts :
                    https://fonts.google.com/ </p>

                <p> 2 - Choisissez une police en cliquant sur le symbole </p>

                <p> 3 - En bas à droite cliquez sur la barre grise </p>

                <p> 4 - Copiez collez les liens CSS et HTML (seulement le http) dans les champs ci-dessous </p>
                <p> 5 - Téléchargez le fichier de police et importez le</p>
            </div>


            <form method="post" action="{{url('app/choix/police/add')}}" enctype="multipart/form-data">
                <div>
                    <label><i class="las la-code"></i></label>
                    <input type="text" placeholder="Code HTML" name="html">
                </div>
                <div>
                    <label><i class="las la-code"></i></label>
                    <input type="text" placeholder="Code CSS" name="css">
                </div>
                <div>
                    <input type="file" id="font" name="file">
                    <textarea name="content" id="content" hidden>
                    </textarea>
                </div>
                <div>
                    <button>Ajouter</button>
                </div>
            </form>
        </div>
        <div class="prevNext" id="prevNext">
            <a href="{{ url('app/configuration')}}"><i class="las la-angle-left"></i>1</a>
            <a href="{{ url('app/creation')}}">3<i class="las la-angle-right"></i></a>
        </div>
    </main>


{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{{assetA('/js/showPictureUpload.js')}}"></script>
<script src="{{assetA('/js/readFontFileContent.js')}}"></script>
{% endblock %}