{% extends "public/layout.html.twig" %}

{% block content %} 
<header>

    <a href="index.html"><img src="{{assetP('img/logo.png')}}" alt="logo"></a>
    <a href="{{ url('login')}}">Connexion</a>

</header>
<main>

    <section class="welcome">

        <div class="content">
            <h1>Regarder les Yearbooks !</h1>
            <h2>Retracer la vie des anciennes <br> promotions MMI à l'IUT d'Angoulême</h2>
        </div>
    </section>
    <section class="visu">
        <h2>Visualiser les Yearbooks</h2>
        <div class="container-book">
            {% if length > 0 %}
                {% for yearbook in yearbooks %}
                    <a href="{{assetP('pdf/') ~ yearbook.lien_pdf}}" class="yearbook">
                        <img src="{{assetP('img/Yearbook_mini.png')}}" alt="icone Yearbook">
                        <p class="yearbook_info">Yearbook <br> {{ yearbook.anneePromotion }}</p>
                    </a>
                {% endfor %}
            {% else %}
                <p class="yearbook_none">Aucun Yearbook terminé pour le moment</p>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
